* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0px auto;
  width: 1000px;
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  flex-flow:column;
}

.row {
  display: flex;
  flex-direction: row;
  max-width: 656px;
}

.cube {
  width: 80px;
  height: 80px;
}

.light-brown-cube {
  background-color: #A26833;
}

.brown-cube {
  background-color: #773D1A;
}

img {
  object-fit: cover;
  max-width: 80px;
}
.highlight-green {
  box-shadow: inset 0 0 0 9999px rgba(152, 251, 152, 0.5);
}

.highlight-red {
  box-shadow: inset 0 0 0 9999px rgba(233, 21, 21, 0.5);
}

.highlight-check {
  box-shadow: inset 0 0 0 9999px rgba(153, 1, 1, 0.5);
}

.highlight-blue {
  box-shadow: inset 0 0 0 9999px rgba(32, 36, 251, 0.5);
}

h1 {
  margin-bottom: 2em;
}

/* Стиль для затемненного фона */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

/* Стиль для модального окна (вашего контейнера) */
.pawn-transform {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
}
.figure-inputs {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.figure-images {
  display: flex;
}
/*.outlined {
  position: relative; /* Обязательно для псевдоэлемента */
/*}*/

/*.outlined::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid green; /* Цвет и толщина обводки */
  /*pointer-events: none; /* Чтобы не блокировал клики */
  /*z-index: 1;
}*/

.table {
  display: flex;
  flex-direction: column;
  border: 5px solid white;
}

.letter-container {
  display: flex;
  flex-direction: column-reverse;
}

.letter-list__item {
  list-style: none;
  font-size: 32px;
}

.letter-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.number-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.number-list__item {
  list-style: none;
  font-size: 32px;
}

.number-list {
  justify-content: space-around;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-height: 650px;
}